<% include ./header_admin.ejs %>

<form action="/admin/add-cate" method="POST" role="form">
<legend>Add Cate</legend>
<div class="form-group">
<label for="">Name cate: </label>
<input type="text" class="form-control" id="" placeholder="name cate" name="txtName">
</div>
<button type="submit" class="btn btn-primary">Add</button>
</form>

<% include ./footer_admin.ejs %>