<% include blocks/header.ejs %>
<link href="/stylesheets/chatbox.css" rel="stylesheet">
<% include blocks/navbar.ejs %>
<% include blocks/menu.ejs %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Order</strong> Your transaction is success, see you again !
				<a href="/">Home Page</a>
			</div>
		</div>
	</div>
</div>


<% include blocks/footer.ejs %>