<div class="container-chatbox-admin">
	<div class="messaging">
		<h3>Messaging</h3>
		<div class="inbox_msg">
			<div class="inbox_people">
				<div class="headind_srch">
					<div class="recent_heading">
						<h4>Recent</h4>
					</div>
				</div>
				<div class="inbox_chat">
					<!-- list user chat -->
				</div>
			</div>
			<div class="mesgs">
				<h3 class="user-chatting"></h3>
				<div class="msg_history">
					<!-- list history message -->

				</div>
				<div class="type_msg">
					<div class="input_msg_write">
						<input id="write_msg" type="text" class="write_msg" placeholder="Type a message" />
						<button id="btn-send" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div></div>