<!-- begin:footer -->
<div class="row">
  <div class="col-md-12 footer">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h3><span>Contact Info</span></h3>
          <address>
            Shopping <br>
            Call Us : (84) 0933 649 647<br>
            Email : contact.quoctuan@gmail.com<br>
          </address>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h3><span>Customer Support</span></h3>
          <ul class="list-unstyled list-star">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Payment Option</a></li>
            <li><a href="#">Booking Tips</a></li>
            <li><a href="#">Information</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h3><span>Discover our store</span></h3>
          <ul class="list-unstyled list-star">
            <li><a href="#">California</a></li>
            <li><a href="#">Bali</a></li>
            <li><a href="#">Singapore</a></li>
            <li><a href="#">Canada</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h3><span>Get Our Newsletter</span></h3>
          <p>Subscribe to our newsletter and get exclusive deals straight to your inbox!</p>
          <form>
            <input type="email" class="form-control" name="email" placeholder="Your Email : "><br>
            <input type="submit" class="btn btn-warning" value="Subscribe">
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end:footer -->

<!-- begin:copyright -->
<div class="row">
  <div class="col-md-12 copyright">
    <div class="row">
      <div class="col-md-6 col-sm-6 copyright-left">
        <p>Copyright &copy; QuocTuanShop 2017-2018. All right reserved.</p>
      </div>
      <div class="col-md-6 col-sm-6 copyright-right">
        <ul class="list-unstyled list-social">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end:copyright -->

</div>
<!-- end:content -->
<% include chatbox.ejs %>
<!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/masonry.pkgd.min.js"></script>
  <script src="/javascripts/imagesloaded.pkgd.min.js"></script>
  <script src="https://shoppingnodejs.herokuapp.com/socket.io/socket.io.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/chatboxuser.js"></script>

</body>
</html>
