<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="description" content="responsive clothing store template">
	<meta name="author" content="QuocTuan.Info">
	<!-- <link rel="shortcut icon" href="/img/favicon.html"> -->

	<title>Shopping</title>

	<!-- Bootstrap core CSS -->
	<link href="/stylesheets/bootstrap.css" rel="stylesheet">
	<!-- Font-Awesome -->
	<link href="/bower_components/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">


	<!-- Custom styles for this template -->
	<link href="/stylesheets/style.css" rel="stylesheet">
	<link href="/stylesheets/responsive.css" rel="stylesheet">



