			<!-- begin:content -->
			<div class="container">
				<!-- begin:logo -->
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="logo" style="margin: 10px">
							<h1><a href="/">Shopping</a></h1>
							<p style="padding-left:6px">Simple shopping cart with NodeJS</p>
						</div>
					</div>
				</div> 
				<!-- end:logo -->

				<!-- begin:nav-menus -->
				<div class="row">
					<div class="col-md-12">
						<div class="nav-menus">
							<ul class="nav nav-pills">
								<!-- content menu -->
							</ul>
						</div>
					</div>
				</div>
        <!-- end:nav-menus -->